
:root{
    --body-color: #2B2F33;
    --body-shadow: rgb(31, 30, 30);
    --body-shadow-highlight: rgba(255, 255, 255, 0.384);
    --body-shadow-dark: rgb(19, 19, 19);
    --container-gradient-light: rgba(107, 107, 107, 0.8);
    --container-gradient-shade: rgba(0,255,0,0);
    --btn-shadow: rgba(0, 0, 0, 0.438);
    --btn-hightlight: rgb(155, 153, 153);
    --cancel-btn: rgb(255,185,46);
    --equal-btn: #a73ffc;
    --btn-purple: #4B365F; 
    --btn-lightyellow: #4B443E;
    --backspace-color: #28292D; 
    --btn-text-color: white;
}

:root.light{
    --body-color: #FDFDFD;
    --body-shadow: rgba(107, 106, 106, 0.685);
    --body-shadow-highlight: rgb(255, 255, 255);
    --body-shadow-dark: rgb(92, 91, 91);
    --container-gradient-light: rgba(255, 255, 255, 0.973);
    --container-gradient-shade: rgba(229, 226, 226, 0.781);
    --btn-shadow: rgba(99, 99, 99, 0.438);
    --btn-hightlight: rgb(255, 255, 255);
    --btn-purple: #E3D7ED; 
    --btn-lightyellow: rgb(246,238,225);
    --cancel-btn: #ffb338ea;
    --equal-btn: #8F27DE;
    --backspace-color: #e2e5e5; 
    --btn-text-color: rgb(19, 18, 18);
}

:root.dark{
    --body-color: #2B2F33;
    --body-shadow: rgb(31, 30, 30);
    --body-shadow-highlight: rgba(255, 255, 255, 0.384);
    --body-shadow-dark: rgb(19, 19, 19);
    --container-gradient-light: rgba(107, 107, 107, 0.8);
    --container-gradient-shade: rgba(0,255,0,0);
    --btn-shadow: rgba(0, 0, 0, 0.438);
    --btn-hightlight: rgba(155, 153, 153, 0.418);
    --cancel-btn: rgb(255,185,46);
    --equal-btn: #a73ffc;
    --btn-purple: #4B365F; 
    --btn-lightyellow: #4B443E;
    --backspace-color: #28292D; 
    --btn-text-color: white;
}


body{
    
    background-color: var(--body-color);
    
}

.body-container{
    border-radius: 1rem;
    background: linear-gradient(180deg, var(--container-gradient-light), var(--container-gradient-shade) 80.71%),      
                linear-gradient(140deg, var(--container-gradient-light), var(--container-gradient-shade)  60.71%);  
                
    box-shadow: 15px 10px 35px 10px var(--body-shadow), 
                inset 2px 1px 5px -3px var(--body-shadow-highlight),
                inset -4px -4px 5px -3px var(--body-shadow-dark);
    position: relative;
    padding: 10px 25px 20px 25px;
    width: 280px;
    min-width: 250px;
    display: grid;
    margin: auto;
    height: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr repeat(7, 1fr);
    gap: 0.5rem 1rem;
    grid-template-areas: 
        'screen-display screen-display screen-display screen-display'
        'toggleBtn . . ACbtn'
        'CBtn leftbracketBtn rightbracketBtn multiplyBtn'
        'squarertBtn modulousBtn xsquareBtn xdivisionBtn'
        'sevenBtn eightBtn nineBtn minusBtn'
        'fourBtn fiveBtn sixBtn additionBtn'
        'oneBtn twoBtn threeBtn equalsBtn'
        'dotBtn zeroBtn backspaceBtn equalsBtn'
    ;

}


.btn{
    border-radius: 2rem;
    box-shadow: 3px 3px 4px 0.5px var(--btn-shadow),
                inset 2px 1px 5px -3px var(--btn-hightlight);
}

.purple-btn{
    background-color: var(--btn-purple);
}

.light-yellow {
    background-color: var(--btn-lightyellow);
}

.CBtn{
    background-color: var(--cancel-btn);
}

.equalsBtn{
    background-color: var(--equal-btn);
}

.backspaceBtn{
    background-color: var(--backspace-color);
}

button{
    border-radius: 2rem;
    all: unset;
    cursor: pointer;
    display: flex;
    align-self: stretch;      
    height: 100%;
    width: 100%;
    position: relative;
}

button span{
    color: var(--btn-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.body-container div:nth-child(1){ grid-area: screen-display;
                                    }
.body-container div:nth-child(2){grid-area: toggleBtn;}
.body-container div:nth-child(3){grid-area: ACbtn;}
.body-container div:nth-child(4){grid-area: CBtn;}
.body-container div:nth-child(5){grid-area: leftbracketBtn;}
.body-container div:nth-child(6){grid-area: rightbracketBtn;}
.body-container div:nth-child(7){grid-area: multiplyBtn;}
.body-container div:nth-child(8){grid-area: squarertBtn;}
.body-container div:nth-child(9){grid-area: modulousBtn;}
.body-container div:nth-child(10){grid-area:xsquareBtn;}
.body-container div:nth-child(11){grid-area:xdivisionBtn;}
.body-container div:nth-child(12){grid-area:sevenBtn;}
.body-container div:nth-child(13){grid-area:eightBtn;}
.body-container div:nth-child(14){grid-area:nineBtn;}
.body-container div:nth-child(15){grid-area:minusBtn;}
.body-container div:nth-child(16){grid-area:fourBtn;}
.body-container div:nth-child(17){grid-area:fiveBtn;}
.body-container div:nth-child(18){grid-area:sixBtn;}
.body-container div:nth-child(19){grid-area:additionBtn;}
.body-container div:nth-child(20){grid-area:oneBtn;}
.body-container div:nth-child(21){grid-area:twoBtn;}
.body-container div:nth-child(22){grid-area:threeBtn;}
.body-container div:nth-child(23){grid-area:equalsBtn;}
.body-container div:nth-child(24){grid-area:dotBtn;}
.body-container div:nth-child(25){grid-area:zeroBtn;}
.body-container div:nth-child(26){grid-area:backspaceBtn;}